/*PROFILE*/
.profile {
  height: 100vh;
  background-color: #dae4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.profile__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  align-self: center;
}
@media only screen and (min-width: 993px) {
  .profile__wrapper {
    flex-direction: row;
  }
}
.profile__pic {
  position: relative;
  height: 35vh;
  width: 35vh;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .profile__pic {
    height: 37.5vh;
    width: 37.5vh;
  }
}
.profile__pic__image {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  position: absolute;
  background-image: url("../images/profile-pic.jpg");
  background-size: cover;
  background-color: none;
  left: none;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .profile__pic__image {
    height: 35vh;
    width: 35vh;
  }
}
.profile__pic__background1 {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  position: absolute;
  background-image: none;
  background-size: none;
  background-color: rgba(64, 149, 245, 0.2);
  left: 3vw;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .profile__pic__background1 {
    height: 35vh;
    width: 35vh;
  }
}
.profile__pic__background2 {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  position: absolute;
  background-image: none;
  background-size: none;
  background-color: rgba(17, 123, 242, 0.2);
  left: 2vw;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .profile__pic__background2 {
    height: 35vh;
    width: 35vh;
  }
}
.profile__pic__background3 {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  position: absolute;
  background-image: none;
  background-size: none;
  background-color: rgba(51, 86, 126, 0.2);
  left: 1vw;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .profile__pic__background3 {
    height: 35vh;
    width: 35vh;
  }
}
.profile__text {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
@media only screen and (min-width: 993px) {
  .profile__text {
    align-items: flex-start;
    margin-left: 50px;
    width: 500px;
  }
}
.profile__text__greeting {
  text-transform: uppercase;
  font-size: 2.5vh;
}
.profile__text__name {
  font-size: 6vh;
  text-transform: uppercase;
  color: #505866;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.profile__text__name--blue {
  color: #117bf2;
}
.profile__text__info {
  font-size: 2.5vh;
  padding-bottom: 20px;
}
.profile__text__resume-button {
  background-color: #117bf2;
  font-size: 2.5vh;
  color: white;
  padding: 1vh;
  border: none;
  border-radius: 1vh;
  width: max-content;
}
.profile__text__resume-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-me {
  transform: skew(0deg, -5deg);
  padding-bottom: 50px;
  padding-top: 50px;
}
.about-me__wrapper {
  transform: skew(0deg, 5deg);
}
.about-me__text {
  color: white;
  font-size: 2.5vh;
  margin: 0;
  margin-bottom: 20px;
}

.skills__title {
  padding-top: 2vh;
}
.skills__icons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills__icon {
  margin: 20px 50px;
}
.skills__icon__img {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15vh;
  width: 15vh;
  border-radius: 1vh;
}
.skills__icon__img--html {
  background-image: url("../images/html.svg");
}
.skills__icon__img--css {
  background-image: url("../images/css.svg");
}
.skills__icon__img--sass {
  background-image: url("../images/sass.svg");
}
.skills__icon__img--js {
  background-image: url("../images/javascript.svg");
}
.skills__icon__img--react {
  background-image: url("../images/react.svg");
}
.skills__icon__img--SQL {
  background-image: url("../images/sql.svg");
}
.skills__icon__img--python {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/242px-Python-logo-notext.svg.png");
}
.skills__icon__img--java {
  background-image: url("../images/java.svg");
}
.skills__icon__img--spring {
  background-image: url("../images/springio.svg");
}
.skills__icon__img--firebase {
  background-image: url("../images/firebase.svg");
}
.skills__icon__description {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 2.5vh;
}

.navbar {
  position: fixed;
  height: 100vh;
  width: 50vw;
  background-color: #117bf2;
  z-index: 100;
  color: white;
  transform: translate3d(-50vw, 0, 0);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
}
@media only screen and (min-width: 993px) {
  .navbar {
    visibility: visible;
    width: 100px;
    transform: translate3d(0, 0, 0);
  }
}
.navbar__header {
  background-color: #0f70db;
  height: 13vh;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.navbar__header__logo {
  font-size: 5vh;
  font-family: "Montserrat", sans-serif;
}
.navbar__menu {
  width: 100%;
  height: 100%;
  display: flex;
}
.navbar__menu__items {
  width: max-content;
  height: max-content;
  justify-content: center;
  align-content: center;
}
.navbar__menu__item {
  margin: 1em 0.6em;
  padding: 1.2em;
}
.navbar__menu__item__icon {
  font-size: 4vh;
  display: inline;
}
.navbar__menu__item__title {
  font-size: 2.5vh;
  margin-left: 20px;
  position: relative;
  display: inline;
}
@media only screen and (min-width: 993px) {
  .navbar__menu__item__title {
    visibility: hidden;
  }
}
.navbar__menu__item:hover {
  background-color: #4095f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar--open {
  width: 30vh;
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s linear;
}
.navbar--close {
  transform: translate3d(-30vh, 0, 0);
  transition: transform 0.5s linear;
}
@media only screen and (min-width: 993px) {
  .navbar:hover {
    width: 280px;
    animation-name: open_menu_large;
    animation-duration: 0.5s;
  }
  .navbar:not(:hover) {
    width: 100px;
    animation-name: close_menu_large;
    animation-duration: 0.5s;
  }
  .navbar:hover span {
    visibility: visible;
  }
  @keyframes open_menu_large {
    0% {
      width: 100px;
    }
    100% {
      width: 220px;
    }
  }
  @keyframes close_menu_large {
    0% {
      width: 220px;
    }
    100% {
      width: 100px;
    }
  }
}

.projects {
  transform: skew(0deg, 5deg);
}
.projects__wrapper {
  transform: skew(0deg, -5deg);
}
@media only screen and (min-width: 993px) {
  .projects__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.projects__card {
  background-color: white;
  border-radius: 1.5vh;
  margin: 2em auto;
  padding: 1.5em;
  width: 100%;
}
@media only screen and (min-width: 993px) {
  .projects__card {
    width: 45em;
  }
}
.projects__card__title {
  font-size: 3vh;
  font-weight: 400;
}
.projects__card__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 37vh;
  border-radius: 1.5vh;
  margin: 20px;
}
.projects__card__img--react-cat {
  background-image: url("../images/CatApp_thumbnail.jpg");
}
.projects__card__img--fakeOS {
  background-image: url("../images/fakeOS-screenshot.png");
}
.projects__card__img--morse {
  background-image: url("../images/morse-code-screenshot.png");
}
.projects__card__img--google-books {
  background-image: url("../images/googlebooks-screenshot.png");
}
.projects__card__img--eShop {
  background-image: url("../images/eshop-screenshot.png");
}
.projects__card__img--hangman {
  background-image: url("../images/hangman-screenshot.png");
}
.projects__card__img--minesweeper {
  background-image: url("../images/minesweeper-screenshot.png");
}
.projects__card__info-tech {
  font-size: 2.2vh;
  font-weight: bold;
}
.projects__card__info-tech--blue {
  color: #117bf2;
  font-weight: bold;
}
.projects__card__info {
  font-size: 2.4vh;
  font-weight: 300;
}
.projects__card__link-buttons {
  width: max-content;
  font-size: 2.5vh;
}
.projects__card__link-button {
  padding: 10px;
  border: none;
  margin-top: 0.5em;
  color: white;
  font-size: 2.5vh;
}
.projects__card__link-button--github {
  background-color: #505866;
  border-radius: 10px;
}
.projects__card__link-button--live-link {
  background-color: #117bf2;
  border-radius: 0.8vh;
}

.contact__line {
  font-size: 2.5vh;
  font-weight: bold;
  color: #117bf2;
}
.contact__detail {
  font-weight: normal;
  color: #505866;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  background-color: #dae4f5;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 3.5vh;
  align-self: center;
}

.content {
  color: #505866;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 5vh 5vw;
}

.skewed h2 {
  color: white;
}

.skewed {
  background-color: rgba(17, 122, 242, 0.75);
}

button#hamburgerBtn {
  position: fixed;
  background: none;
  border: none;
  border-radius: 10px;
  font-size: 5vh;
  cursor: pointer;
  padding: 0 30px 0 2vw;
  top: 0;
  right: 0;
  color: #505866;
  z-index: 2;
}
@media only screen and (min-width: 993px) {
  button#hamburgerBtn {
    visibility: hidden;
  }
}

@media only screen and (min-width: 993px) {
  main {
    margin-left: 100px;
  }
}
footer {
  text-align: center;
  font-size: 2.3vh;
  padding: 0;
}
