$light-blue: #dae4f5;
$bold-blue: #117bf2;
$dark-bold-blue: #0f70db;
$white: white;
$grey: #505866;
$transperent-bold-blue: rgba(17, 122, 242, 0.75);

$faded-blue1: rgba(64, 149, 245, 0.2);
$faded-blue2: rgba(17, 123, 242, 0.2);
$faded-blue3: rgba(51, 86, 126, 0.2);
