@import "./partials/palette";

@mixin contact {
  .contact {
    &__line {
      font-size: 2.5vh;
      font-weight: bold;
      color: $bold-blue;
    }

    &__detail {
      font-weight: normal;
      color: $grey;
    }
  }
}
