.skills {
  &__title {
    padding-top: 2vh;
  }

  &__icons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__icon {
    margin: 20px 50px;
    &__img {
      background-color: white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 15vh;
      width: 15vh;
      border-radius: 1vh;

      &--html {
        background-image: url("../images/html.svg");
      }

      &--css {
        background-image: url("../images/css.svg");
      }

      &--sass {
        background-image: url("../images/sass.svg");
      }

      &--js {
        background-image: url("../images/javascript.svg");
      }

      &--react {
        background-image: url("../images/react.svg");
      }

      &--SQL {
        background-image: url("../images/sql.svg");
      }

      &--python {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/242px-Python-logo-notext.svg.png");
      }

      &--java {
        background-image: url("../images/java.svg");
      }

      &--spring {
        background-image: url("../images/springio.svg");
      }

      &--firebase {
        background-image: url("../images/firebase.svg");
      }
    }

    &__description {
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 2.5vh;
    }
  }
}
